@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=PT+Serif:ital,wght@0,700;1,400;1,700&family=Source+Sans+Pro&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  /* align-items: center; */
  /* display: flex; */
  height: 100%;
  background-color: black;
}

.introContainer {
  background: url(background.jpg) no-repeat;
  background-size: cover;
  height: 674px;
}

nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: black;
  color: white;
  width: 100%;
  height: 2.5rem;
  opacity: 80%;
  z-index: 10;
}

/* Nav */

.btn {
  font-family: 'Source Sans Pro', sans-serif;
  font: 10px;
  margin: 5px 20px 0 0;
  width: 70px;
  height: 30px;
  border-radius: 20px;
}

.btn--1 {
  border: none;
  color: white;
  background-color: black;

  box-shadow: inset 0 0 0 0 lightgray;
  transition: ease-out 0.3s;
  font-size: 1rem;
  outline: none;
}

.btn--1:hover {
  cursor: pointer;
  color: black;
  box-shadow: inset 300px 0 0 0 #f9e506;
}

.logo {
  width: 30px;
  height: 30px;
  margin-top: 5px;
}

/* Welcome box */
.wlcmBox {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}

.profilePic {
  height: 225px;
  width: 250px;
  margin: 210px 218px 0 10px;
  border-radius: 50px;
}

.openParagraph {
  text-align: center;
  background-color: black;
  color: white;
  margin-top: 150px;
  padding: 25px 30px 30px 30px;
  width: 500px;
  height: 350px;
  border-radius: 25px 0 0 25px;
  opacity: 80%;
  font-family: 'Inter', sans-serif;
  font-family: 'PT Serif', serif;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 30px;
  font-style: italic;
  resize: both;
}

.outerContainerHouses {
  background-color: rgb(131, 131, 93);
}
.housesContainer {
  background-color: lightgrey;

  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #efefef;
  transform: skew(-30deg);
}

.housesHeader {
  text-align: center;
  font-size: 50px;
  color: rgb(94, 84, 84);
  padding: 30px 160px 30px 0px;
  transform: skew(30deg);
  text-shadow: 1px 2px 5px rgb(46 91 173 / 60%);
}

.slide-container {
  display: block;
  max-width: 1120px;
  width: 100%;
  height: 400px;
  padding: 0 10px 0 0;
  transform: skew(30deg);
}

.slide-content {
  /* padding: 45px 20px; */
  margin: 0 40px;

  overflow: hidden;
  border-radius: 25px;
}

.card {
  width: 320px;
  border-radius: 25px;
  background-color: #fff;
}

.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}

.image-content {
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #4070f4;
  border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #4070f4;
}

.overlay::after {
  border-radius: 0 25px 0 0;
  background-color: #fff;
}
.card-image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #fff;
  padding: 3px;
}

.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #4070f4;
}

.name {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

.description {
  font-size: 14px;
  color: #707070;
  text-align: center;
}

.button {
  border: none;
  font-size: 16px;
  color: #fff;
  padding: 8px 16px;
  background-color: #4070f4;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #265df2;
}
.swiper-button-next,
.swiper-button-prev {
  color: #6e93f7;
  transition: color 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #4070f4;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}

.swiper-pagination-bullet {
  background-color: #6e93f7;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #4070f4;
}

.housesSoldContainer {
  /* flex-wrap: wrap; */
  background-color: lightgray;
  width: 100%;
  padding: 50px 0;
}

.soldHeader {
  text-align: center;
  font-size: 50px;
  color: rgb(94, 84, 84);
  padding: 0 0 50px 0px;
  text-shadow: 1px 2px 5px rgb(46 91 173 / 60%);
}

.housesSoldRow1,
.housesSoldRow3 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.housesSoldRow2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 100px;
}

.sCard {
  border-radius: 10px;
  color: gray;
  background-color: palegoldenrod;
  width: 275px;
  height: 310px;
  text-align: center;
  box-shadow: 1px 1px 20px 1px gray;
}

.lineBreaker {
  width: 100px;
}
.sImage1 {
  border-radius: 10px;
  width: 275px;
  height: 170px;
}

@media screen and (max-width: 768px) {
  .slide-content {
    margin: 0 10px;
  }
  .swiper-button-next::after {
    display: none;
  }

  .swiper-button-prev::after {
    display: none;
  }
}

/* .swiper-pagination {
  height: 50px;
} */

@media screen and (max-width: 950px) {
  /* .openParagraph {
    font-size: 25px;
    padding: 40px 30px 30px 30px;
  } */
  .profilePic {
    /* margin: 210px 193px 0 10px */
    margin-right: 110px;
  }
}

@media screen and (min-width: 1000px) {
  .profilePic {
    margin: 210px 600px 0 10px;
  }
}
